<div class="custom-file">
    <InputFile id="bootstrapCustomFileUpload"
               class="custom-file-input"
               OnChange="OnInputFileChange"
               accept="@AcceptPattern" />
    <label for="bootstrapCustomFileUpload" 
           class="custom-file-label" 
           data-browse="@ButtonLabel">@Prompt</label>
</div>

@code {
    [Parameter]
    public string Prompt { get; set; } = "Choose file";

    [Parameter]
    public string ButtonLabel { get; set; } = "Browse";

    [Parameter]
    public string AcceptPattern { get; set; } = "image/*";

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        Prompt = e.File.Name;
    }

}
