@page "/"

<h1>Blazor Image Upload Demo</h1>

<fieldset class="border p-3">
    <legend>Bootstrap type file browser</legend>
    <form>
        <div class="form-row align-items-center">
            <BootstrapFileUpload Prompt="選擇檔案" ButtonLabel="瀏覽"></BootstrapFileUpload>
        </div>
    </form>
</fieldset>
