@page "/"
@using GranDen.Blazor.Bootstrap.ImageUpload;
@using Serilog;

<h1>Blazor Image Upload Demo</h1>

<br/>

<div class="container">
    <div class="row">
        <div class="col">
            <fieldset class="border rounded p-3">
                <legend>Bootstrap type file browser</legend>
                <form>
                    <div class="form-row align-items-center">
                        <BootstrapImgUpload DefaultPrompt="選擇檔案"
                                            ButtonLabel="瀏覽"
                                            InputFileChanged="OnInputFileChanged">
                        </BootstrapImgUpload>
                    </div>
                </form>
            </fieldset>
        </div>
        <div class="col">
            <fieldset class="border rounded p-3">
                <legend>Custom Drag & Drop Image Upload</legend>
            </fieldset>
        </div>
    </div>
</div>

@code {

    private void OnInputFileChanged(InputFileChangeEventArgs e)
    {
        Log.Information("Upload file: {@File}", e.File);
        StateHasChanged();
    }

}